
- provide(:title, "Chocolate Milk Recipes")

#content-recipes

  %h3 Chocolate Milk Recipes

  - if @recipes.count > 0

    - @recipes.each do |r|
      %a{ :href => "/recipes/#{r.id}"}
        %h4
          = r.title
      %p
        = r.text

  - else
    %h5 No recipes here yet
