
- provide(:title, "Chocolate Milk Recipes")

#content-recipes

  %h4 Chocolate Milk ✓ Recipes

  - if @recipes.count > 0

    - @recipes.each do |r|
      %a{ :href => "/recipes/#{r.id}"}
        %h4
          = r.title

  - else
    %h5 No recipes here yet
