
- provide(:title, "Registering New Member")

#content-users

  %h3 Register New Member

  = render 'form'

  = link_to ("#{icon 'reply'} Cancel").html_safe, { :action => "index", :controller => "home"}, class: "button"
