
// Base styles

@import "https://fonts.googleapis.com/css?family=Josefin+Sans:400,100,100italic,300,300italic,400italic,600,600italic,700,700italic"
@import "https://fonts.googleapis.com/css?family=Amaranth:400,400italic,700,700italic"
@import "https://fonts.googleapis.com/css?family=Dancing+Script:400,700"

html, body
  margin: 0
  width: 100%
  max-width: 100%
  overflow-x: hidden

h1
  @include heading-size($h1-size)

h2
  @include heading-size($h2-size)

h3
  @include heading-size($h3-size)

h4
  @include heading-size($h4-size)

h5
  @include heading-size($h5-size)

h6
  @include heading-size($h6-size)

p
  margin: 10px 0 25px 0

a, a:link
  text-decoration: none
  border: 0
  color: $col-custard
  transition: all linear 0.1s

  &:hover
    color: $col-custard-dark

img
  border: 0

blockquote
  margin: 20px 40px
  padding: 20px 30px
  background-color: $blockquote-bg-col
  border-bottom: solid 5px $blockquote-border-col

hr
  border-top: solid 5px rgba(0,0,0,0.1)
  margin: 40px 40px

// Maintain 16:9 aspect ratio for youtube iframes
div.youtube
  position: relative
  padding-bottom: 56.25%
  padding-top: 25px
  height: 0
  iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
