
// Styles related to the Home controller

img.twitter-avatar
  width: 50px
  height: auto
  float: left
  margin-right: 10px

.full-column
  margin-bottom: $section-bottom-margin

.half-column
  display: inline-block
  width: 49%
  vertical-align: top
  margin-bottom: $section-bottom-margin

  @media #{$break-small-not-tiny}
    display: block
    width: 60%
    margin: 0 auto $section-bottom-margin auto

  @media #{$break-tiny}
    display: block
    width: 100%

.subscription
  margin-top: 40px

a.sub-email
  background-color: rgba(0,0,0,0.1)
  color: $col-coal !important

  &:hover
    background-color: #ffffff
    color: $col-coal !important

a.sub-youtube
  background-color: #e52d27
  color: #ffffff !important

  &:hover
    background-color: #ffffff
    color: #e52d27 !important
