
- provide(:title, "How Now Brown Cow - Chocolate Milk Reviews & Recipes")

#content-home

  .full-column
    %center
      %h4 Coming Spring 2016
      = image_tag "cmglory.png", :class => "circle-image"

  .half-column

    %center
      %h4 Subscribe:

      %p.subscription
        %a{ :href => 'http://eepurl.com/bNoWMv', :class => %w(button sub-email) }
          Email Updates
      %p.subscription
        %a{ :href => '#', :class => %w(button sub-youtube) }
          YouTube Channel

  .half-column
    %h4 The latest tweets (moos?) from #{link_to 'How Now Brown Cow', 'https://twitter.com/CMConnoisseur'}:

    - for tweet in @tweets do
      %p
        = image_tag "logo.png", :class => "twitter-avatar"
        = render_twitter(tweet.text)

  .clearfix
