
-#
-# Home Controller - Index Page
-#

%h3 Chocolate Milk Blog

%p
  A text and/or video blog reviewing various pre-made chocolate milks, and discussing methods for making home made chocolate milk, including products made for that purpose, like Nesquick.

%p
  There are
  %a{ :href => "https://en.wikipedia.org/wiki/List_of_chocolate_beverages" } many chocolate milk related beverages
  besides traditional chocolate milk that I can talk about.

%p
  There are some blogs that talk a little about chocolate milk, but none that I can find that are exclusively about chocolate milk.

%p
  Create YouTube channel, host videos there, but embed them on this website.

%br

%h3 Website

%ul
  %h4.list-title.col-custard Possible Names
  %li The Chocolate Milk Connoisseur
  %li The Brown Cow Connoisseur
  %li Chocolate Milk Child
  %li How Now Brown Cow

%ul
  %h4.list-title.col-custard Home
  %li Landing page that describes the site, and shows the latest post.
  %li Tetris-style bar that shows the upcoming products up for review.
  %li A little about myself, and a links to my online presence.

%ul
  %h4.list-title.col-custard Posts
  %li Text and/or Video posts with chocolate milk reviews, news, and info.
