
- provide(:title, "How Now Brown Cow - Chocolate Milk Reviews & Recipes")

#content-home

  %center
    %h4 Coming Spring 2016
    = image_tag "cmglory.png", :class => "circle-image"

  %p

  %h4 The latest tweets (moos?) from #{link_to 'How Now Brown Cow', 'https://twitter.com/CMConnoisseur'}:

  - for tweet in @tweets do
    %p
      = render_twitter(tweet.text)
