
-#
-# Posts Controller - Index Page
-#

%h1 Header 1
%h2 Header 2
%h3 Header 3
%h4 Header 4
%h5 Header 5
%h6 Header 6

%h3.cursive Cursive Script

%hr

%ul
  %h5.list-title Unordered List
  %li List item
  %li List item
  %li List item

%ol
  %h5.list-title Ordered List
  %li List item
  %li List item
  %li List item

%p
  This is a paragraph this is a paragraph this is a paragraph this is a paragraph this is a paragraph this is a paragraph this is a paragraph this is a paragraph this is a paragraph this is a paragraph this is a paragraph this is a paragraph this is a paragraph this is a paragraph this is a paragraph this is a paragraph this is a paragraph this is a paragraph this is a paragraph this is a paragraph this is a paragraph this is a paragraph this is a paragraph this is a paragraph this is a paragraph this is a paragraph this is a paragraph this is a paragraph.

%a{ :href => "#" } This is a link

%blockquote
  This is a blockquote this is a blockquote this is a blockquote this is a blockquote this is a blockquote this is a blockquote this is a blockquote this is a blockquote this is a blockquote this is a blockquote this is a blockquote this is a blockquote this is a blockquote.
