@import "variables.sass"
@import "mixins.sass"

// Base styles

html, body
  font-family: "Josefin Sans", sans-serif
  font-weight: 400

h1, h2, h3, h4, h5, h6
  font-family: "Amaranth", serif
  font-weight: 700
