@import "variables.sass"
@import "mixins.sass"

// Styles for the Header

header
  background-color: $col-brown-dark
  @include full-width

  #header-container
    padding: 30px $content-side-margins

  #hnbc-title-container, #cmc-container
    display: inline-block

    @media #{$break-small}
      display: block

  #hnbc-title-container
    @media #{$break-small}
      text-align: center

    img#hnbc-title
      width: 424px
      height: auto

      @media #{$break-small}
        width: auto
        max-width: 424px

      @media #{$break-tiny}
        width: auto
        max-width: 100%

  #cmc-container
    margin-left: 20px
    position: relative
    top: 50%
    transform: translateY(-20%)

    @media #{$break-small}
      margin: 20px 0 0 0
      text-align: center

  span.by-the
    font-family: serif
    font-weight: 400
    font-size: 13px
    color: $col-milk

  a.cmc
    font-family: "Dancing Script", cursive
    font-weight: 400
    font-size: 20px
    color: $col-custard

    &:hover
      color: $col-custard-light


// Styles for the Sub-Header

#sub-header
  background-color: $col-brown-red
  @include full-width

  #sub-header-container
    padding: 20px $content-side-margins

    @media #{$break-small}
      text-align: center

    p.sub-header
      letter-spacing: 0.025em
      margin: 0


// Styles for the navigation

nav
  background-color: $col-brown
  @include full-width

  #nav-container
    padding: 12px $content-side-margins

    @media #{$break-small}
      text-align: center

  ul
    padding: 0
    margin: 0

    li
      display: inline-block
      list-style-type: none
      padding: 10px 20px 10px 0

      a
        font-family: "Amaranth"
        font-size: 18px
        font-weight: 400
        color: $col-custard

        &:hover
          color: $col-custard-light


// THE DRIP!!!

#drip
  height: 76px
  line-height: 0
  background-color: $col-milk
  @include background-image("drip.png", 1000px, 76px, left, top, repeat-x)
  @include full-width
