#content-reviews

  %h3 Chocolate Milk Reviews

  - if @reviews.count > 0

    - @reviews.each do |r|
      %a{ :href => "/reviews/#{r.id}"}
        %h4
          = r.title
      %p
        = r.text

  - else
    %h5 No reviews here yet
