<!DOCTYPE html>
<html>
<head>
  <title>Hownowbrowncow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h2>How Now Brown Cow</h2>

  <p>
    <a href="/">HOME</a><span>&nbsp;-&nbsp;</span><a href="/posts/">POSTS</a>
  </p>

  <%= yield %>

</body>
</html>
